@{
    ViewData["Title"] = "Online";
}

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://s2.glbimg.com/XsuCg04ufUmOws4sI21yhsh7tKg=/512x320/smart/e.glbimg.com/og/ed/f/original/2021/05/20/por-que-pizza-tao-boa-gostosa-ciencia-sabor.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://media.gazetadopovo.com.br/2023/07/10171212/bigstock-Wood-Fire-Cheesy-Pizza-Slice-I-458241689-960x540.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/fotos-premium/fatia-de-pizza-saborosa-pingando-estetica-generative-ai_863013-1954.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
